# Operating System & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.pem
*.key

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Node.js / React
node_modules/
dist/
build/

# Flutter
.dart_tool/
.pub-cache/

# Docker & Logs
*.log
postgres_data/